
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(to bottom right,#16a596,#6fe2e2);
}

.App{
    padding: 2em;
    min-height: 70vh;
}

h1{text-transform: capitalize;}

input, button{
    border: none;
    padding: 1em;
    font-family: 'Ubuntu', sans-serif;
}

button{
    cursor: pointer;
    text-transform: capitalize;
}

.input-form button , .done{
    color: #16a596;
    background-color: white;
    transition: all .3s ease;
}

.input-form button:hover , .done:hover{
    color: white;
    background-color: #16a596;
    box-shadow: 0 0 5px #16a596;
}

h1,.input-form,.to-dos{
    padding: 1em;
}
h1{text-align: center;}

ul{
    transition: all .5s ease;
}

li{
    padding: 1em 2em;
    list-style-type: none;
    background-color: white;
    color: black;
    margin: .5em 0;
    transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 90%; */
    border-left: solid 7px #16a596;
    border-radius: 5px 0 0 5px;
    transition: all .5s ease;
}

.fade-out{
    opacity: 0; 
    transform: translate(200px) ;
    transform-origin: 0;
    /* text-decoration:line-through ; */
}

.to-dos{
    min-height: 400px;
}

.val{
    width: 60%;
    word-wrap: break-word;
}

.done{
    border: solid 1px #16a596;
}

#tambah:hover{
    box-shadow: 0 0 7px white;
}




